<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cobweb2/src/main/java/org/cobweb/cobweb2/ui/swing/applet/Cobweb2Applet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="660"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<mapAttribute key="org.eclipse.jdt.launching.APPLET_PARAMETERS"/>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="580"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.cobweb.cobweb2.ui.swing.applet.Cobweb2Applet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cobweb2"/>
</launchConfiguration>
